body {
  background-color: antiquewhite;
}

h1 {
  color: white;
}

ul {
  display: flex;
}

li {
  padding-left: 20px;
  list-style: none;
}

li a {
  text-decoration: none;
}

#card {
  gap: 20px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}

#card .container-1 {
  border: solid;
  padding: 20px;
  margin: 20px;
}

#card .container-2 {
  border: solid;
  padding: 20px;
  margin: 20px;
}

#card .container-3 {
  border: solid;
  padding: 20px;
  margin: 20px;
}

#contact form input,
#contact form button {
  display: block;
}
