nav {
  background-color: cornflowerblue;
  display: flex;
  border-radius: 26px;
  color: blue;
}

nav h1 {
  padding: 0px 20px;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  float: right;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  list-style-type: none;
  color: red;
}

/* nav -> h1, ul -> li -> a */
